.toolbar {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    background-color: #8bbdeb;
    margin: 15px;
    gap: 5px;
}

.search:hover {
    background-color: #6dace6;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.title {
    white-space: nowrap;
}

.left-bar-container {
    display: flex;
    align-items: center;
}